#main {
  width: 600px;
  margin: 3em;
  text-align: right;
  font-family: "Arial", Helvetica, sans-serif;

}

#temperature {
  font-size: 8em;
  margin-bottom: 50px;
}


.vertical-text{
  transform: rotate(90deg);
  position: absolute;
  top: 1.5em;
  right: 20px;

  color: white;
  font-size: 8em;
  font-family: "Arial", Helvetica, sans-serif;
}



.bg-2 {
  background-color: black;
  padding: 0.7em;
}

.low-usage {
  color: #ADD8E6;
}

.medium-usage {
  color: #FFA500;
}

.high-usage {
  color: #CC0000;
}
